:host {
    display: block;
    padding: 4rem;
    background-color: #fff;
  }
 
  button {
    color: cornflowerblue;
    background-color: dark-blue;
    padding: .5rem 1rem;
    border: 1px solid dark-blue;
    border-radius: .25rem;
    cursor: pointer;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 1rem;

    &:hover {
    color: whitesmoke;
      background-color: darkslateblue;
    }
  }

 